{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="community" value="{{community.id}}" />
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
